mat-toolbar{
  gap: 10px;
}
mat-table{
  overflow: auto;
  max-height: 600px;
}
.action-column{
  //flex: 0 76px 10 50;
}
//.column-flex{
  //display: flex;
  //min-width: 300px;
  //flex-direction: column;
//}
